<!--<p>
  Esta plataforma foi desenvolvida por Ricardo Campos, investigador do LIAAD INESC TEC, do Ci2 - Centro de Investigação em Cidades Inteligentes e docente do Instituto Politécnico de Tomar (IPT)], Jorge Duque, aluno do Instituto Politécnico de Tomar (IPT), Alípio Jorge, coordenador do LIAAD INESC TEC e docente na Faculdade de Ciências da Universidade do Porto (UP), Gaël Dias, docente da Universidade de Caën, e Célia Nunes, docente da Universidade da Beira Interior e investigadora do Centro de Matemática e Aplicações (CMA – UBI).
</p>-->
<div  class="col-md-11 col-sm-8 col-xs-6 my-col caixinha" >

  <mat-card class="col-md-8" >
    <div class="sobreTitulo">
      Equipa:
    </div>

    <mat-divider></mat-divider>
    <p class="p1">Esta plataforma foi desenvolvida por Ricardo Campos, docente do Instituto Politécnico de Tomar (IPT) e investigador do INESC TEC e do Ci2 - Centro de Investigação em Cidades Inteligentes, Jorge Duque, aluno do Instituto Politécnico de Tomar (IPT), Alípio Jorge, docente na Faculdade de Ciências da Universidade do Porto (UP) e coordenador do LIAAD INESC TEC, Gaël Dias, docente da Universidade de Caën, e Célia Nunes, docente da Universidade da Beira Interior (UBI), investigadora do Centro de Matemática e Aplicações (CMA – UBI) e colaboradora do Centro de Matemática e Aplicações (CMA), FCT Nova
    </p><br>
    <mat-divider></mat-divider><br><br>
    <!---->
    <div style="display: flex;justify-content: space-around;flex-wrap: wrap;">
      <div style="flex-wrap: no-wrap;" *ngFor="let item of data" title="{{item.caption}}" type="submit" >
        <mat-card  class="example-card cardBig" >
          <mat-card-header>
            <mat-card-title><a class="preto">{{item.title}}</a></mat-card-title>

          </mat-card-header>
          <img style="padding: 10px;border-radius: 50%;" mat-card-image  class="fotoCard"  src="../../assets/{{item.fotoGrande}}" alt="{{item.title}}">

          <div style="justify-content: center;">
            <a class="preto" *ngFor="let item2 of item.links" target="_blank" href="{{item2.link}}">
              <button  mat-button><a class="preto" ><span class="preto"[innerHTML]="item2.icon | safe:'html'"></span> {{item2.tipo}} </a></button>
            </a>
          </div>




        </mat-card>
      </div>
    </div>
  </mat-card>

</div>
<br>
<br>
<br>



