

<!--<mat-dialog-content>-->    
    <div class="noScroll ">
        <h1 class="Tutorial"><strong>Tutorial</strong></h1>
        <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/Q6Rz_TEvcgM" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        
        </div> 
        <div class="legenda col-md-12 col-sm-8 col-xs-6">
            <a class="aChato" href="https://www.bensound.com" target="_blank"><b>Royalty Free Music from Bensound</b></a> 
        </div> 
    </div>
   
<!--</mat-dialog-content>-->
