
<br/>
<div   class='{{loading?"viewable": "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<div style="display: flex;justify-content: flex-end;">
  <mat-slide-toggle style="z-index: 10;margin-top:25px;margin-right: 50px ;"  [disabled]="loading || (argumentosTodos.length == argumentosRelevantes.length)" *ngIf="argumentosTodos.length>0 " (toggleChange)='setRelevance()' class="afterAnnotated" color="warn" [checked]="relevant">{{relevant_string}}</mat-slide-toggle>

</div>
<div *ngIf="nodata"><h1>No data</h1></div>

<div id='my-timeline' style="width: 100%; height: 400px"></div>
<!--<div class="col-lg12 text-right">
  <button style="margin-right: 5px;margin-bottom: 4px;" mat-fab color="btn-primary" (click)="copyToClipboard($event)"><i class="fas fa-clipboard"></i></button>
</div>-->


