<div class="fundo">
    <div class="container col-md-9">
      <div class="jumbotron">
        <div class="text" mat-subheader>Related Work:</div>
        <p>
            There is no current publication regarding the use of time matters in single texts. Please cite one of the previous time-matters related papers whenever you use this package. In general this will be: <br>
            - Campos, R., Dias, G., Jorge, A. and Nunes, C. (2017). Identifying Top Relevant Dates for Implicit Time Sensitive Queries. In Information Retrieval Journal. Springer, Vol 20(4), pp 363-398. <a target="_blank" href="https://link.springer.com/article/10.1007/s10791-017-9302-1"> [pdf] </a>
            <br> <br>
            Other Time-Matters related papers may be found here: <br>
            - Campos, R., Dias, G., Jorge, A. and Nunes, C. (2016). GTE-Rank: a Time-Aware Search Engine to Answer Time-Sensitive Queries. In Information Processing & Management an International Journal. Elsevier, Vol 52(2), pp. 273-298. <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S0306457315001016"> [pdf] </a> <br> <br>
            - Campos, R., Dias, G., Jorge, A., and Nunes, C. (2014). GTE-Cluster: A Temporal Search Interface for Implicit Temporal Queries. In M. de Rijke et al. (Eds.), Lecture Notes in Computer Science - Advances in Information Retrieval - 36th European Conference on Information Retrieval (ECIR2014). Amesterdam, Netherlands, 13 - 16 April. (Vol. 8416-2014, pp. 775 - 779). <a target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-319-06028-6_94#page-1"> [pdf] </a> <br> <br>
            - Campos, R., Jorge, A., Dias, G. and Nunes, C. (2012). Disambiguating Implicit Temporal Queries by Clustering Top Relevant Dates in Web Snippets. In Proceedings of The 2012 IEEE/WIC/ACM International Joint Conferences on Web Intelligence and Intelligent Agent Technologies Macau, China, 04 - 07 December, Vol. 1, pp 1 - 8. IEEE Computer Society Press. <a target="_blank" href="https://ieeexplore.ieee.org/document/6511858?tp=&arnumber=6511858&url=http:%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6511858"> [pdf] </a>
        </p>
        <hr>
        <div class="text" mat-subheader>Related Awards:</div>
        <p>
            Winner of the <a target="_blank" href="https://www.aicos.fraunhofer.pt/en/news_and_events_aicos/news_archive/older_archive/fraunhofer-portugal-challenge-2013-winners.html"><b>Fraunhofer Portugal Challenge 2013 PhD Contest</b></a> with the work entitled "Disambiguating Implicit Temporal Queries for Temporal Information Retrieval Applications". <br>
            <br>
            <i>"Ricardo Campos developed a set of methods with the idea of optimizing the search of information on the web, offering a temporal context within the results obtained. This aims to improve the clustering and ranking of search results, in order to provide users with a historical perspective of the results. His two methods (able to operate in different languages) are based on the premise of: a temporal similarity measure to evaluate the correlation between the query and the candidate dates identified, and a threshold-based classifier that selects the most relevant dates while filtering out the non-relevant or incorrect ones."</i>

        </p>


      </div>
    </div>
  
  
  
  </div>
  