<div class="fundo">
    <div class="container col-md-8">
      <div class="jumbotron">
        <div class="text" mat-subheader>Related Work:</div>
        <mat-list>
          <p class="p1">If you use Time-Matters please cite the appropriate paper. In general, this will be: </p>
          <p class="p1">
            - Campos, R., Duque, J., Cândido, T., Mendes, J., Dias, G., Jorge, A. and Nunes, C., (2021). Time-Matters: Temporal Unfolding of Texts. In: Hiemstra D., Moens M-F., Mothe J., Perego R., Potthast M., Sebastiani F. (eds), Advances in Information Retrieval. ECIR'21 (Lucca, Italy. March 28 - April 1). Lecture Notes in Computer Science, vol 12657, pp. 492 - 497. Springer. <a href="https://link.springer.com/chapter/10.1007/978-3-030-72240-1_53" target="_blank"><b>[pdf]</b></a><a target ="_blank"href="https://youtu.be/Q8yT4aVM_Mw"><b> [video]</b></a> <a target="_blank" href="http://www.ccc.ipt.pt/~ricardo/ficheiros/ECIR2021Poster.pdf"><b> [poster]</b></a>
          </p>
          <p class="p1">
            Other Time-Matters related papers may be found here:
          </p>
          <p class="p2">
            - Campos, R., Dias, G., Jorge, A. and Nunes, C. (2017). Identifying Top Relevant Dates for Implicit Time Sensitive Queries. In Information Retrieval Journal. Springer, Vol 20(4), pp 363-398. <a target="_blank" href="https://link.springer.com/article/10.1007/s10791-017-9302-1"> <b>[pdf]</b> </a>
          </p>
          
          <p class="p2">
            - Campos, R., Dias, G., Jorge, A. and Nunes, C. (2016). GTE-Rank: a Time-Aware Search Engine to Answer Time-Sensitive Queries. In Information Processing & Management an International Journal. Elsevier, Vol 52(2), pp. 273-298. <a target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S0306457315001016"> <b>[pdf]</b></a> <br> <br>
            - Campos, R., Dias, G., Jorge, A., and Nunes, C. (2014). GTE-Cluster: A Temporal Search Interface for Implicit Temporal Queries. In M. de Rijke et al. (Eds.), Lecture Notes in Computer Science - Advances in Information Retrieval - 36th European Conference on Information Retrieval (ECIR2014). Amesterdam, Netherlands, 13 - 16 April. (Vol. 8416-2014, pp. 775 - 779). <a target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-319-06028-6_94#page-1"> <b>[pdf]</b>  </a> <br> <br>
            - Campos, R., Jorge, A., Dias, G. and Nunes, C. (2012). Disambiguating Implicit Temporal Queries by Clustering Top Relevant Dates in Web Snippets. In Proceedings of The 2012 IEEE/WIC/ACM International Joint Conferences on Web Intelligence and Intelligent Agent Technologies Macau, China, 04 - 07 December, Vol. 1, pp 1 - 8. IEEE Computer Society Press. <a target="_blank" href="https://ieeexplore.ieee.org/document/6511858?tp=&arnumber=6511858&url=http:%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6511858"> <b>[pdf]</b> </a> <br> <br>
          </p>
         
        

        </mat-list>

        <hr>
        <div class="text" mat-subheader>Related Awards:</div>
        <p class="p1">
            Winner of the Fraunhofer Portugal Challenge 2013 PhD Contest with the work entitled "Disambiguating Implicit Temporal Queries for Temporal Information Retrieval Applications". <br>
            <br>
            <i>"Ricardo Campos developed a set of methods with the idea of optimizing the search of information on the web, offering a temporal context within the results obtained. This aims to improve the clustering and ranking of search results, in order to provide users with a historical perspective of the results. His two methods (able to operate in different languages) are based on the premise of: a temporal similarity measure to evaluate the correlation between the query and the candidate dates identified, and a threshold-based classifier that selects the most relevant dates while filtering out the non-relevant or incorrect ones."  in<a target="_blank" href="https://www.aicos.fraunhofer.pt/en/news_and_events_aicos/news_archive/older_archive/fraunhofer-portugal-challenge-2013-winners.html"><b> Fraunhofer Portugal.</b></a> </i>

        </p>


      </div>
    </div>
  
  
  
  </div>
  