<br/>
<mat-slide-toggle *ngIf="argumentosRelevantes.length>0" [checked]="relevant" (toggleChange)='setRelevance()'  class="afterAnnotated" color="warn" >Showing relevant dates only</mat-slide-toggle>
<hr/>

    <!--<button  class='{{!isSet?"viewable": "nonviewable"}}' class="btn-primary" (click)="setRelevance();setRelevance();">Confirm</button>-->
    <br/>
    <div id="container" ></div>

    <button  (click)="toggleTipo()" class="btn-primary" *ngIf="tipos.length>3" >Toggle Chart Type</button>
