
.wordcloud{
  width: 80%;
  transform-origin: 0 0;
  transform: rotate(90deg);
  z-index: 30;
}

@media only screen and (max-width: 1500px){
.wordcloud{
  width: 75%;
  transform: rotate(0deg);
}
}
@media only screen and (max-width: 980px){
.wordcloud{
  width: 50%;
}
}
@media only screen and (max-width: 700px){
  .wordcloud{
    width: 700px;
    height: 900px;
     margin-left: 900px;
     transform-origin: 0 0;
     transform: rotate(90deg);
  }

}
