
.wordcloud{
  width: 80%;
  z-index: 30;
}

@media only screen and (max-width: 1500px){
.wordcloud{
  width: 75%;
}
}
@media only screen and (max-width: 980px){
.wordcloud{
  width: 50%;
}
}
