.btn-primary {
    background-color: #d10019;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;
}



.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #a80519;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(168, 5, 25,.5);
}


input {
    display: block;
    padding: 5px 5px;
    font-size: 15px;
    color: #2b3e50;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    border-radius:2px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

.btn-link{
    color: #cc4625;
    font-family: 'Work Sans', sans-serif;
}

.paginator {
    background-color: #e8e3e3;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}