<div *ngIf="resultado else query">
  <mat-paginator  *ngIf="!selected" [length]="totalResults" (page)="paginatorOptions($event)"
              [pageSize]="maxItems"
              [pageIndex]="pagina"
              [pageSizeOptions]="[5, 10, 25, 50, 100, 500, 1000, 2000]">
</mat-paginator>
<div class='{{loading?"viewable": "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
  <app-tratar-arquivo (selected)='setSelected($event)' [dados]="resultado"></app-tratar-arquivo><br>
  <div class='{{loading?"viewable": "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
  <mat-paginator  *ngIf="!selected" [length]="totalResults" (page)="paginatorOptions($event)"
              [pageSize]="maxItems"
              [pageIndex]="pagina"
              [pageSizeOptions]="[5, 10, 25, 50, 100, 500, 1000, 2000]">
</mat-paginator>
  <div class="col-lg-12 text-right">
    <br>
    <button type="reset" (click)="goBack()" class="btn btn-link">Go back</button>
    <button *ngIf="resultado && !selected" color="primary"  type="submit" (click)="copyToClipboard(resultado)" class="btn btn-primary"><i class="far fa-clipboard"></i> Copy JSON Object to Clipboard</button>
  </div>
</div>
<ng-template #query>
  <form class="example-form" (submit)="submitQuery($event)">

    <div class="col-md-11 col-sm-8 col-xs-6 my-col">
      <h2>Search on Arquivo.pt</h2>
      <div class="col-lg-12">
        <div class="form-group">
          <mat-card>
            <mat-form-field class="example-full-width">
              <div *ngIf="loading">
                <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
              </div>
              <mat-label>Query:</mat-label>
              <input matInput (change)="setQuery($event)" placeholder="Elon Musk" value="Elon Musk">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Site Search:</mat-label>
              <input matInput (change)="setSiteSearch($event)" placeholder="...insert site where you want to search" value="http://www.publico.pt">
            </mat-form-field>
            <mat-slide-toggle class="afterAnnotated" color="warn" (click)="toggleAdvanced()">Advanced Options</mat-slide-toggle>
                <br>
                <br>
            <div class='{{viewAdvanced?"viewable": "nonviewable"}}'>
              <mat-form-field class="example-half-width">
                <mat-label>From:</mat-label>
                <input matInput type="date" (change)="setFrom($event)" placeholder="...insert site where you want to search" [value]="startDate" />
              </mat-form-field>
              <mat-form-field class="example-half-width">
                <mat-label>To:</mat-label>
                <input type="date" matInput (change)="setTo($event)" placeholder="...insert site where you want to search" [value]="toDate"/>
              </mat-form-field>
              <mat-form-field class="example-half-width">
                <mat-label>Offset:</mat-label>
                <input matInput [value]="offset" type="number" (change)="setOffset($event)" placeholder="...insert site where you want to search" value="http://www.publico.pt">
              </mat-form-field>
              <mat-form-field class="example-half-width">
                <mat-label>Items per Query (max 2000):</mat-label>
                <input matInput [value]="maxItems" type="number" (change)="setMaxItems($event)" placeholder="...insert site where you want to search" value="http://www.publico.pt">
              </mat-form-field>
              <br>
              <mat-checkbox class="example-margin" (change)="togglePretty($event)" [checked]="prettyPrint">Pretty print</mat-checkbox>
            </div>

          </mat-card>
        </div>

        <div class="form-group">
          <div class="col-lg12 text-right">
            <button class="btn btn-primary" type="submit" [disabled]="loading" >
              <div class='{{!loading?"viewable": "nonviewable"}}' ><i class="fas fa-search" ></i>
                {{loading?'Loading...':'Search Arquivo.pt'}}</div>
              <div class='{{loading?"viewable": "nonviewable"}}'><span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{loading?'Loading...':'Lets do it!'}}</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<br>
