<div style="display:flex; justify-content: center; background-color: #033F72; ">

  <br>
    <!--<h1 class="miniText">
      narrArquivo
    </h1>-->
    <img style="width: 300px; " src="../../assets/narrArquivogran.png"/>
    <br/><br><br>
</div>
<div style="background-color:rgba(3, 63, 114, 1);display: flex;justify-content: center;">

</div>
<br>
<div *ngIf="!deuAsneira else erro2">
  <div *ngIf="result else textBox" >

    <div class="col-md-11 col-sm-8 col-xs-6 my-col2">
      <!--FRASE DOS TEMPOS DE EXECUÇÃO-->
      <span title=""><a class="frase1"></a></span>
      <!--FRASE DOS TEMPOS DE EXECUÇÃO-->

      <div *ngIf="!result else graficos">
        <h1>Não foram encontrados dados, em caso de dúvida, a culpa é da API 🤣</h1>
      </div>
        <ng-template #graficos >
          <mat-card>
          <mat-tab-group>
            <mat-tab  label="Texto Anotado">
                <br>
                <span>

                </span>
                <hr>
                <app-frame [argumentos]="result" [showOnlyRelevants]="showOnlyRel" [keywordsMatter]="withKeywords"  [docOrSentence]="byDocOrSentece?'doc':'sentence'" class="result"></app-frame>

                <hr>
                <div class="dateScoreColors">
                  <span>Escala Likert de {{!showOnlyRel?"5": "3"}} cores para representar a importância das expressões temporais:  </span>
                  <span class='{{!showOnlyRel?"black": "nonviewable"}}'>[0; 0.35]</span>
                  <span class='{{!showOnlyRel?"green": "nonviewable"}}' >]0.35; 0.5]</span>
                  <span class="blue">]0.5; 0.7]</span>
                  <span class="yellow">]0.7; 0.9]</span>
                  <span class="purple">]0.9; 1.0]</span>
                </div>
                <br>
                <!--ESTA AQUI O BOTAO NOVO, DEPOIS APAGA ESTE COMENTARIO-->
                <mat-slide-toggle class="afterAnnotated" [checked]="hiddenoptionKW" color="warn" (toggleChange)="toggleKeywords()">Keywords</mat-slide-toggle>
                <br>
                <mat-slide-toggle  *ngIf="datasetFixed.length != datasetFixed2.length" class="afterAnnotated" (toggleChange)="toggleRel()" [checked]="showOnlyRel" color="warn" >Apenas datas relevantes</mat-slide-toggle>
                <!--EM CIMA-->
                <br>
                <br>

          </mat-tab>

          <mat-tab label="Storyline" *ngIf="dataset.length>0 && result">
            <app-timeline-scroll  *ngIf=" result" [compGeral]="result" [docSen]="byDocOrSentece" [argumentosTodos]="datasetFixed" [argumentosRelevantes]="datasetFixed2"></app-timeline-scroll>

          </mat-tab>
          <mat-tab label="Agrupamento Temporal" *ngIf="dataset.length>0">

            <br>
            <div style="display: flex; justify-content: flex-end;">
              <mat-slide-toggle *ngIf="datasetFixed.length != datasetFixed2.length" style="z-index: 10;margin-top:25px;margin-right: 50px ;" (toggleChange)='toggleRel()' [checked]="showOnlyRel" class="afterAnnotated" color="warn" >Apenas datas relevantes</mat-slide-toggle>

            </div>
            <br><br>
            <div  *ngIf="!showOnlyRel else onlyRel">
              <div style="margin-top:-70px;" *ngIf="datasetFixed.length>0 else nodata1">
                <table class="table table-borderless">
                  <tbody *ngFor="let item of datasetFixed">
                    <tr >
                      <td><h3><b><strong>{{item.x}}</strong></b></h3></td><!--meter .substrin(0,10 para so ano)-->
                      <td class="TabelaTexto" [innerHTML]="item.y | safe:'html'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #nodata1>
                <h1>Não foram encontrados dados, em caso de dúvida, a culpa é da API 🤣</h1>
              </ng-template>

            </div>

            <ng-template #onlyRel>
              <div style="margin-top:-70px;" *ngIf="datasetFixed2.length>0 else nodata2">
                <table class="table table-borderless">
                <tbody *ngFor="let item of datasetFixed2">
                  <tr >
                    <td ><h3><b><strong>{{item.x}}</strong></b></h3></td><!--meter .substrin(0,10 para so ano)-->
                    <td class="TabelaTexto"  [innerHTML]="item.y | safe:'html'"></td>
                </tr>
                </tbody>
              </table>

              </div>
              <ng-template #nodata2>
                <h1>Não foram encontrados dados, em caso de dúvida, a culpa é da API 🤣</h1>
              </ng-template>

            </ng-template>

          <!--WIP-->
          </mat-tab>
          <mat-tab label="Nuvem de Palavras">
            <app-wordcloud [args]="result"></app-wordcloud>
          </mat-tab >






          </mat-tab-group>
          <div class="col-lg-12 text-right" >
            <button style="z-index: 10;margin-top: -65px;" mat-fab (click)="goBack()" class="btn btn-primary"><i class="fas fa-undo-alt"></i></button>

          </div>
        </mat-card>
          <br>


        </ng-template>


  </div>
</div>

<ng-template #textBox>

  <br/>
  <form (submit)="getKeyword($event)">
      <div class="col-md-11 col-sm-8 col-xs-6 my-col" style="margin-top: -4px;">

         <div class="col-lg-12">
            <div class="form-group">
              <mat-card>

                <mat-form-field class="example-full-width" >
                  <div   class='{{loading?"viewable": "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
                  <div class="col-lg-12 text-right" >
                    <span title="Example Texts"><button style="z-index: 10;margin-top:15px ;" class="btn btn-link" mat-button type="button" mat-icon-button [matMenuTriggerFor]="menuy" aria-label="Example icon-button with a menu">
                     <mat-icon >more_vert</mat-icon>
                  </button></span>
                  <mat-menu #menuy="matMenu">
                    <button (click)="setDefaultText(0,'English')" mat-menu-item>
                      <span>EN - haiti earthquake</span>
                    </button>
                    <div class="divider"></div>
                    <button (click)="setDefaultText(1,'French')"  mat-menu-item >
                      <span>FR - Politics</span>
                    </button>

                    <div class="divider"></div>
                    <button (click)="setDefaultText(3,'Portuguese')" mat-menu-item>
                      <span>PT - Politics </span>
                    </button>
                    <div class="divider"></div>
                    <button (click)="setDefaultText(4,'English')" mat-menu-item>
                      <span>EN - Bombings </span>
                    </button>
                  </mat-menu>
                  </div>
                  <mat-label>Criar narrativa a partir de texto livre</mat-label>
                  <textarea matInput #texto class="text-area" (change)='setDefaultTexto(texto)' style="width:100%;" type="text" value="{{conteudoDefault}}" min_rows="20" rows="20" name="texto"></textarea>

                </mat-form-field>

                <div  style="cursor:pointer;" class="col-8">
                  <a class="naoBranco" *ngIf=" !requestMade" style="color: black;cursor: link;" (click)="toggleOption()">opções avançadas</a>
                  <br>

                      <div  style="color: black;cursor:pointer;" *ngIf="hiddenoption && !requestMade">
                        <div class="form-group row">
                          <label for="example-date-input" class="col-1 col-form-label">Data</label>
                          <div class="col-4">
                            <input class="form-control small" value="documentCreationTime" type="date" (change)="selecionarDataReferencia($event)" id="example-date-input">
                          </div>
                        </div>



                      </div>

                      <br ></div><br>
                </mat-card>
              <!--
                EXTRA options
              -->
              <br>


              <!--OPÇÕES A ADICIONAR-->

              <!--ACABA AQUI-->

            </div>
          </div>

          <div class="form-group"  style="z-index: 10;margin-top:-95px ;margin-right:6px ">
            <div class="col-lg-12 text-right">
              <button *ngIf="!loading" style="margin-right: 4px;" class='{{loading?"viewable": "nonviewable"}}' mat-mini-fab class="btn btn-primary" type="button" [disabled]="loading" (click)="deleteContent($event)"><i class="fas fa-trash" ></i>
                <div class='{{loading?"viewable": "nonviewable"}}'><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </div>
              </button>
              <button  mat-mini-fab class="btn btn-primary" type="submit" [disabled]="loading" ><i class="fas fa-book-open" ></i>
                <div class='{{loading?"viewable": "nonviewable"}}'><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </div>
              </button>


             </div>
          </div>
      </div>

  </form>
</ng-template>

<br>


</div>

<ng-template #erro2 >

  <div style="display: flex;justify-content: center;align-items: center;">
    <div  style="display: block;  flex-wrap: wrap; margin-left: 5%;margin-right: 5%; ">
      <div style="display: block; justify-content: center;">
        <div style="text-align: center;"><br><br><br><br><b>oops...</b></div>
      </div>
       <br>
      <div style="display: flex;justify-content: center;"><img style="width: 90px;"src="../../assets/narrArquivo.png"/></div>
      <br>
      <br>
      <div style="text-align: center;display: flex;justify-content: center;"> Não foi possível construir narrativa.</div>

      <br>
    </div>
  </div>
  <br>
  <br>
  <br>

    </ng-template>
