<!--<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->


 <!---->

  <div *ngIf="result else textBox" >
    <br>
    <br>
    <div class="col-md-11 col-sm-8 col-xs-6 my-col2">
        <span title="não suportado, api não tem a opção "><p class="frase1">Results using {{algoritmoSelected}} algorithm:</p></span>
        <div>
      <div *ngIf="!result else graficos">
        <h1>No Data</h1>
      </div>
        <ng-template #graficos >
          <mat-card>
          <mat-tab-group>
            <mat-tab  label="Anotated Text">
                <h2 class="afterAnnotated">Anotated text</h2>
                <p class="afterAnnotated">There are {{!showOnlyRel?differentValues.length:differentRelValues.length}} different {{!showOnlyRel?"":"relevant "}}Temporal Expressions are annotated in the text</p>
                <p class='{{!withKeywords?"afterAnnotated":"nonviewable"}}'>The top {{numberOfKeyWords}} {{ngramSelected}}-gram keywords were  annotated in the text through YAKE! software</p>
                <p class="afterAnnotated">Language: {{languagueSelected}}</p>
                <hr>
                <app-frame [argumentos]="result" [showOnlyRelevants]="showOnlyRel" [keywordsMatter]="withKeywords"  [docOrSentence]="byDocOrSentece?'doc':'sentence'" class="result"></app-frame>
                <hr>
                <div class="dateScoreColors">
                  <span><b>Date scores colors organized by relevance:  </b></span>
                  <span class='{{!showOnlyRel?"preto": "nonviewable"}}'>[0; 0.35]</span>
                  <span class="verde">]0.35; 0.4]</span>
                  <span class="azul">]0.4; 0.6]</span>
                  <span class="amarelo">]0.6; 0.8]</span>
                  <span class="roxo">]0.8; 1.0]</span>
                </div>
                <br>
                <!--ESTA AQUI O BOTAO NOVO, DEPOIS APAGA ESTE COMENTARIO-->
                <mat-slide-toggle class="afterAnnotated" color="warn" (click)="toggleKeywords()">{{withKeywordsSentence}}</mat-slide-toggle>
                <br>
                <mat-slide-toggle class="afterAnnotated" color="warn" (click)="toggleRel()">{{showOnlyRel?"Showing Important dates Only":"Showing All Dates"}}</mat-slide-toggle>
                <!--EM CIMA-->
                <br>
                <br>

          </mat-tab>
          <mat-tab *ngIf="byDocOrSentece" class="afterGraphs" label="Plots">
            <h2>Graphics</h2>
            <div class="row my-row2 justify-content-center">
              <div class="score">
                <app-score [argumentos]="result" ></app-score>
              </div>
        </div>
          </mat-tab>
          <mat-tab label="Temporal Clustering">
            <!--WIP-->
            <!--<mat-vertical-stepper >
              <div *ngFor="let item of dataset">
              <mat-step  [completed]="false" label='{{item.x.substring(0,10)}}'  matStepperIcon="phone" >
                <div (click)="putOnClipboard($event,item.x.substring(0,10))" [innerHTML]="item.y | safe:'html'"></div>
              </mat-step>
              </div>
            </mat-vertical-stepper>-->

            <table *ngFor="let item of dataset ">
              <tr (click)="putOnClipboard($event,item.x)">
                  <p><td><h1>{{item.x.substring(0,10)}}</h1></td></p><!--meter .substrin(0,10 para so ano)-->
                  <p><td [innerHTML]="item.y | safe:'html'"></td></p>
              </tr>
            </table>

          <!--WIP-->
          </mat-tab>

          <mat-tab label="Plot Score/Date" ><!--*ngIf="byDocOrSentece"-->
            <!--WIP-->
            <app-linha-temporal [docSen]="byDocOrSentece" [numSen]="result.SentencesNormalized.length" [argumentosTodos]="dataset" [argumentosRelevantes]="datasetRelOnly"  ></app-linha-temporal>
          <!--WIP-->
          </mat-tab>
          <mat-tab label="Timeline">
            <!--WIP-->
            <app-timeline-scroll [docSen]="byDocOrSentece" [argumentosTodos]="dataset" [argumentosRelevantes]="datasetRelOnly"></app-timeline-scroll>
          <!--WIP-->
          </mat-tab>
          </mat-tab-group></mat-card>
          <br>
          <div class="col-lg-12 text-right">
            <button type="reset" (click)="goBack()" class="btn btn-link">Go back</button>
            <button *ngIf="result" color="primary"  type="submit" (click)="copyToClipboard($event)" class="btn btn-primary"><i class="far fa-clipboard"></i> Copy to Clipboard</button>
          </div>
        </ng-template>
      </div>


  </div>
</div>

<ng-template #textBox>

  <br/>
  <form (submit)="getKeyword($event)">
      <div class="col-md-11 col-sm-8 col-xs-6 my-col">

        <h2>Free text input</h2>
         <div class="col-lg-12">
            <div class="form-group">
              <mat-card>
                <div class="col-lg-12 text-right">
                  <span title="Example Texts"><button class="btn btn-link" mat-button type="button" mat-icon-button [matMenuTriggerFor]="menuy" aria-label="Example icon-button with a menu">
                   <mat-icon>more_vert</mat-icon>
                </button></span>
                <mat-menu #menuy="matMenu">
                  <button (click)="setDefaultText(0,'English')" mat-menu-item>
                    <span>EN - haiti earthquake</span>
                  </button>

                  <button (click)="setDefaultText(1,'French')"  mat-menu-item >
                    <span>FR - Religion</span>
                  </button>

                  <button (click)="setDefaultText(2,'Italian')" mat-menu-item>
                    <span>IT - Sports </span>
                  </button>

                  <button (click)="setDefaultText(3,'Portuguese')" mat-menu-item>
                    <span>PT - Sports </span>
                  </button>
                  <button (click)="setDefaultText(4,'English')" mat-menu-item>
                    <span>EN - Bombings </span>
                  </button>
                </mat-menu>
                </div>
                <div class='{{loading?"viewable": "nonviewable"}}'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
                <mat-form-field class="example-full-width" >
                  <mat-label>Content</mat-label>
                  <textarea matInput #texto class="text-area" (change)='setDefaultTexto(texto)' style="width:100%;" type="text" value="{{conteudoDefault}}" min_rows="4" rows="7" name="texto"></textarea>
                </mat-form-field>

                <div class="col-lg-16 text-center">
                  <mat-form-field  *ngIf="algoritmoSelected=='py_heideltime'" (change)="selecionarDataReferencia($event)">
                    <mat-label>Document Creation Date:</mat-label>
                    <input matInput name="docCreatDate" class="date" type="date"/>
                  </mat-form-field>

                  <mat-slide-toggle class="example-margin" color="warn" (click)="toggleOption()">Advanced Options</mat-slide-toggle>
                </div>
                </mat-card>
              <!--
                EXTRA options
              -->
              <br>
                <div class='{{hiddenoption?"viewable ": "nonviewable"}}'>
                  <div class="col-lg-16 text-center everything">


                    <mat-card>
                      <mat-form-field name="valorAlgoritmo">
                        <mat-label class="algorithm">Algorithm </mat-label>
                        <mat-select  class="algorithm"(valueChange)="selecionarAlgoritmo($event)" >
                          <mat-option class="mat-menu-item2" hidden>py_heideltime</mat-option>

                          <mat-option class="mat-menu-item2" *ngFor="let algo of algoritmosDate" [value]="algo">
                            {{algo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <br>
                    <div class="col-lg-12 space-center">
                      <mat-slide-toggle name="KW" color="warn" (click)="toggleOptionKeywords()">Yake Options</mat-slide-toggle>
                    </div>
                    <div class="col-lg-12 text-center">
                      <mat-slide-toggle  name="docOrSentece" color="warn" (click)="toggleDocOrSentence()">{{byDocOrSentece?'Anotate Dates by Doc':'Anotate Dates by Sentence'}}</mat-slide-toggle>
                    </div>

                    <br>
                    <br>
                    <div class='{{hiddenoptionKW?"viewable": "nonviewable"}}'>
                      <h3 class="algorithm">Yake Options:</h3>
                      <mat-form-field (change)="selecionarngram($event)" name="ngrams">
                        <mat-label class="algorithm">ngrams</mat-label>
                        <input class="algorithm" matInput type="number" name="ngram" placeholder="ngrams" min="1" value="1"/>
                      </mat-form-field>
                      <mat-form-field (change)="selecionarNKeywords($event)" name="number_keywords">
                        <mat-label class="algorithm">Number of Keywords</mat-label>
                        <input class="algorithm" matInput type="number" name="nkey" placeholder="number of keywords" min="1" value="10"/>
                      </mat-form-field>
                      <mat-form-field (changeValue)="selecionarContextualWindow($event)" name="windowContext">
                        <mat-label class="algorithm">Contextual Window</mat-label>
                        <input class="algorithm" matInput type="number" name="context" placeholder="Contextual Window" min="1" value="full_sentence"/>

                      </mat-form-field>
                      <mat-form-field >
                        <mat-label class="algorithm">Date Granularity </mat-label>
                        <mat-select class="algorithm" (valueChange)="selecionarGranularidade($event)">
                          <mat-option class="mat-menu-item2" hidden>full</mat-option>
                          <mat-option class="mat-menu-item2" *ngFor="let granu of dateGranularityOptions" [value]="granu">
                            {{granu}}
                          </mat-option>
                        </mat-select>

                      </mat-form-field>
                    </div>
                    <br>
                    <div *ngIf="algoritmoSelected=='py_heideltime' else rule_based">
                      <!--OPÇÕES RELATIVAS AO PY_HEIDELTIME-->
                      <h3 class="algorithm">Py Heideltime Options:</h3>
                      <mat-form-field name="lingua">
                        <mat-label class="algorithm">Language </mat-label>
                        <mat-select class="algorithm" (valueChange)="selecionarLanguage($event)" >
                          <mat-option class="mat-menu-item2" hidden>English</mat-option>
                          <mat-option class="mat-menu-item2" *ngFor="let lingo of languageOptions" [value]="lingo">
                            {{lingo}}
                          </mat-option>
                        </mat-select>

                      </mat-form-field>
                      <mat-form-field (changeValue)="selecionarTipoDocumento($event)" name="tipoDoc">
                        <mat-label class="algorithm">Document Type</mat-label>
                        <mat-select class="algorithm" (valueChange)="selecionarTipoDocumento($event)" >
                          <mat-option class="mat-menu-item2" *ngFor="let typeo of documentTypeOptions" [value]="typeo">
                            {{typeo}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label class="algorithm">N-size context Vector</mat-label>
                        <input class="algorithm" (change)="selecionaTamanhoSimbaVectors($event)" name="simba" matInput type="number" placeholder="N"/>
                      </mat-form-field>
                      <!--FIM OPÇÕES RELATIVAS AO PY_HEIDELTIME-->
                    </div>
                    <ng-template #rule_based>
                      <!--OPÇÕES RELATIVAS AO RULE_BASED-->
                      <h3>Py Rule Based Options:</h3>
                    <span title="inferior year limit">
                        <mat-form-field name="beginDateControl">
                          <mat-label>Begin Date</mat-label>
                          <input matInput type="number" name="dataInicio" placeholder="0" min="0" value="0"/>
                        </mat-form-field>
                    </span>
                      <span title="superior year limit">
                        <mat-form-field name="endDateControl">
                          <mat-label>End Date</mat-label>
                          <input matInput type="number" name="dataFim" placeholder="2100" min="0" value="2100"/>
                        </mat-form-field>
                      </span>
                      <!--FIM OPÇÕES RELATIVAS AO RULEBASED-->
                    </ng-template></mat-card>

                  </div>
              </div>

              <!--OPÇÕES A ADICIONAR-->

              <!--ACABA AQUI-->

            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12 text-right">
              <button type="reset" (click)="deleteContent($event)" class="btn btn-link">Reset</button>
              <button class="btn btn-primary" type="submit" [disabled]="loading" >
                <div class='{{!loading?"viewable": "nonviewable"}}' ><i class="fas fa-code" ></i>
                  {{loading?'Loading...':'Tag Dates'}}</div>
                <div class='{{loading?"viewable": "nonviewable"}}'><span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  {{loading?'Loading...':'Tag Dates'}}</div>
              </button>

             </div>
          </div>
      </div>

  </form>
</ng-template>


