@import '~bootstrap/dist/css/bootstrap.min.css';    

form, h2, span {
    font-family: 'Work Sans', sans-serif;
}

textarea {
    display: block;
    width:100%;
    height:50%;
    padding: 10px 10px;
    font-size: 15px;
    color: #2b3e50;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    border-radius:2px;
}
.notextarea{width:10%;
}
.btn-link{
    color: #d10019;
   /* color: #cc4625; */
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #d10019;
   /* background-color: #cc4625; */
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:disabled {
    background-color: #a80519;
 /*  background-color: #993d26; */
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(168, 5, 25,.5);
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #a80519;
  /*  color: #993d26; */@mixin name {
      
  }
}

hr {
    border-top: 1px solid grey;
  }

.date {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.mat-menu-item, .mat-menu-item2 {
    color: white;
    text-align: center;
    background-color: #d10019;
   /* background-color: #cc4625; */
    font-family: 'Work Sans', sans-serif;
}

.mat-menu-item {
    margin:-8px auto;
}

.mat-menu-item:hover, .mat-menu-item2:hover {
    background-color: rgba(0,64,107,0.89);
}

button:focus {
    outline: 0px;
}

.algorithm {
    font-family: 'Work Sans', sans-serif;
}

table, h3 {
    font-family: 'Work Sans', sans-serif;
    border: 0 px;
    font-size: 20px;
}

.thresholdValue {
    margin: auto;
    font-size: 15px;
}


