<div class="fundo">
    <div class="container col-md-8">
        <div class="jumbotron">
            <p>
                This project was developed by researchers affiliated to the Polytechnic Institute of Tomar, Ci2 Smart Cities Research Center, LIAAD INESC TEC, University of Caen, University of Porto, University of Beira Interior and Centre of Mathematics and Applications (CMA UBI).
                <br><br>
                Two authors of this project (Ricardo Campos and Alípio Jorge) were partially financed by the ERDF – European Regional Development Fund through the North Portugal Regional Operational Programme (NORTE 2020), under the PORTUGAL 2020 and by National Funds through the Portuguese funding agency, FCT - Fundação para a Ciência e a Tecnologia within project PTDC/CCI-COM/31857/2017 (NORTE-01-0145-FEDER-03185)
                <br><br>
                A special thanks goes to the <a target="_blank" href="https://arquivo.pt/"><b>Arquivo.pt</b></a> search engine web preservation service for providing the ImageSearch API used in the storyline component of this demo. 
            </p>
        </div>
    </div>
</div>