
    <br>
    <br>
    <div class="col-md-11 col-sm-8 col-xs-6 my-col2">
      <!--FRASE DOS TEMPOS DE EXECUÇÃO-->
      <span title="não suportado, api não tem a opção "><p class="frase1"></p>
      </span>
      <!--FRASE DOS TEMPOS DE EXECUÇÃO-->
      <div>
      <div *ngIf="!options else graficos">
        <h1>No Data</h1>
      </div>
        <ng-template #graficos >
          <mat-card>
          <mat-tab-group>

            <!-- ANNOTATED TEXT-->
            <mat-tab label="Annotated text">
                <br>
                <span title=" "><p class="">Time-Matters algorithm took {{exe_time_total}} Sec. (of which {{exe_time_algo}} Sec. were spent for <i>{{options.algo}}</i> processing;  {{exe_time_YAKE}} Sec. for YAKE!; and {{exe_time_GTE}} Sec. for GTE)</p></span>

                <p class="afterAnnotated"><i>{{!showOnlyRel?differentValues.length:differentRelValues.length}} {{!showOnlyRel?"":"relevant "}}</i> temporal expressions were annotated in the text. Mouse over them to see their relevance scores. Scores are determined by Time-Matters and vary between 0 (not relevant) and 1 (extremely relevant)</p>
               
                <div class='{{!withKeywords?"afterAnnotated":"nonviewable"}}'>
                  <p class='{{!withKeywords?"afterAnnotated":"nonviewable"}}'>The top-<i>{{numberOfKeyWords}} {{options.ngram}}</i>-gram keywords were  annotated in the text through YAKE! software. Mouse over them to see their relevance scores, the lower the better.</p>
                  
                </div>
                <p class="afterAnnotated">Language: <i>{{options.language}}</i></p>
                <hr>
                <app-frame [docOrSentence]="options.docOrSentence" [argumentos]="options.result" [showOnlyRelevants]="showOnlyRel" [keywordsMatter]="withKeywords"   class="result"></app-frame>
                <hr>
                <div class="dateScoreColors"> 
                  <span><b><i>{{!showOnlyRel?"5": "4"}}</i>-color likert relevance scale:   </b></span>
                  <span class='{{!showOnlyRel?"black": "nonviewable"}}'>[0; 0.35]</span>
                  <span class="green">]0.35; 0.5]</span>
                  <span class="blue">]0.5; 0.7]</span>
                  <span class="yellow">]0.7; 0.9]</span>
                  <span class="purple">]0.9; 1.0]</span>
                </div>
                <br>

                <!--ESTA AQUI O BOTAO NOVO, DEPOIS APAGA ESTE COMENTARIO-->
                <mat-slide-toggle class="afterAnnotated" color="warn" (toggleChange)="toggleKeywords()">Keywords On</mat-slide-toggle>
                <br>
                <mat-slide-toggle class="afterAnnotated" color="warn" [checked]="showOnlyRel" (toggleChange)="toggleRel()">Show only relevant dates </mat-slide-toggle>
                <!--EM CIMA-->
                <br>
                <br>
          </mat-tab>

          <!-- STORYLINE -->
          <mat-tab label="Storyline"  *ngIf="dataset.length>0">
            <app-timeline-scroll [docSen]="options.docOrSentence=='doc'"  [argumentosTodos]="datasetFixed" [argumentosRelevantes]="datasetFixed2"></app-timeline-scroll>
          </mat-tab>

          <!-- TEMPORAL CLUSTERING -->
          <mat-tab label="Temporal Clustering" *ngIf="dataset.length>0">
            <br>
            <mat-slide-toggle [checked]="showOnlyRel" (toggleChange)='toggleRel()' class="afterAnnotated" color="warn" >Show only relevant dates </mat-slide-toggle>
            <br><br>
            <div *ngIf="!showOnlyRel else onlyRel">
              <div *ngIf="datasetFixed.length>0 else nodata1">
                <table class="table table-borderless">
                  <tbody *ngFor="let item of datasetFixed">
                    <tr >
                      <td><h3>{{item.x}}</h3></td><!--meter .substrin(0,10 para so ano)--> <!--TIAGO METE AZUL CLASS NO H3-->
                      <td class="TabelaTexto" [innerHTML]="item.y | safe:'html'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
            
            <ng-template #onlyRel>
              <div *ngIf="datasetFixed2.length>0 else nodata2">
                <table class="table table-borderless">
                  <tbody *ngFor="let item of datasetFixed2">
                    <tr (click)="putOnClipboard($event,item.x)">
                      <td><h3>{{item.x}}</h3></td><!--meter .substrin(0,10 para so ano)-->
                      <td [innerHTML]="item.y | safe:'html'"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #nodata1>
                <h1>No Data</h1>    
              </ng-template>
              <ng-template #nodata2>
                <h1>No relevant data</h1>    
              </ng-template>
            </ng-template>
          </mat-tab>

          <!-- TIMELINE -->
          <mat-tab label="Timeline" *ngIf="options.result && dataset.length>0"  > <!-- *ngIf="options.docOrSentence"--> 
            <app-linha-temporal [docSen]="options.docOrSentence=='doc'" [numSen]="options.result.SentencesNormalized.length"  [argumentosTodos]="dataset" [argumentosRelevantes]="datasetRelOnly" ></app-linha-temporal>
          </mat-tab>

          

          <!-- SCORES -->
          
            <mat-tab *ngIf="docOrSentence" class="afterGraphs" (click)="setpage(1)" label="Scores" >
              <h3></h3>
              <div class="row my-row2 justify-content-center">
                <div class="score">
                  <app-score [argumentos]="options.result" ></app-score>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </mat-card>
          <br>
          <!--<div class="col-lg-12 text-right">
            <a *ngIf="options" color="primary" href="/"><button type="reset" class="btn btn-link">Go back</button></a>
            <button *ngIf="options" color="primary"  type="submit" (click)="copyToClipboard($event)" class="btn btn-primary"><i class="far fa-clipboard"></i> Copy to Clipboard</button>
          </div>-->
        </ng-template>
      </div>

      <div class="col-lg-12 text-right">
        <!--<a *ngIf="options" color="primary" (click)="goBack()" href="/time-matters"><button type="reset" class="btn btn-link">Go Back</button></a>-->
        <button *ngIf="options" color="primary"  type="submit" (click)="copyToClipboard($event)" class="btn btn-primary"><i class="far fa-clipboard"></i> Copy to Clipboard</button>
      </div>
  </div>
