h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

input {
  display: block;
  font-size: 15px;
  color: #000000;
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
  border-radius:2px;
}
.btn-primary {
  background-color: #d10019;
 /* background-color: #cc4625; */
  border-color: transparent;
  font-family: 'Work Sans', sans-serif;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #a80519;
/*  background-color: #993d26; */
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(168, 5, 25,.5);
}

.algorithm {
  font-family: 'Work Sans', sans-serif;
}

.thresholdValue {
  margin: auto;
  font-size: 15px;
}


footer {
  background-color: #d10019;
  height: 40px;
}

.btn-link {
  color: #fff;
  font-family: "Work Sans", sans-serif;
}
.example-card {
  max-width: 260px;
  min-height: 500px;
  max-height: 500px;

}

.example-header-image {

  background-size: cover;
}
.fotoCard{
  height:40%;
  inherits: width ;
}
.cardBig{
  margin-right: 5px;
  margin-bottom: 7px;
}
.miniText {
  font-size: 35px;
  font-family: "Nexa Bold", cursive ;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #d10019;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.miniText2 {
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #d10019;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
