h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
}

input {
  display: block;
  font-size: 15px;
  color: #2b3e50;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  border-radius:2px;
}

.btn-primary {
  background-color: #d10019;
 /* background-color: #cc4625; */
  border-color: transparent;
  font-family: 'Work Sans', sans-serif;
}s


.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #a80519;
/*  background-color: #993d26; */
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(168, 5, 25,.5);
}

.algorithm {
  font-family: 'Work Sans', sans-serif;
}

.thresholdValue {
  margin: auto;
  font-size: 15px;
}

.my-col {
  height: 70%;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

.btn-link {
  color: #d10019;
}