/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.purple{
  background-color:#21961b !important;

}
.black{
  background-color:rgb(181, 11, 11) !important;
}
.blue{
  background-color:#386c7d !important;

}
.green{
  background-color:rgba(181, 11, 11, 0.6) !important;

}
.red{
  background-color:#a33a14 !important;

}
.yellow{
  background-color:rgba(33, 150, 27, 0.6) !important;

}
p.noticeme{
  color:black !important;
}

.noticem3 {
  padding-top: 20px;
  color:black !important;
}

.noticem4 {
  padding-top: 20px;
  color: green;
}

.noticem5 {
  padding-top: 20px;
  color: red;
}

.viewable{
  display: block;
}
.nonviewable{
  display: none;
}
.score{
  width:65%;

}
a:link {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}

a:visited {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}

a:hover {
  text-decoration: none !important;
  color:white !important;
}

a:active {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}
.example-full-width{
  width: 100% !important;
}

.ceninha{
  height: 64px;
  padding-left: 50px;
}

@media screen and (max-width:960px) {
  .ceninha{
    padding-left: 2px;
  }
}

@media screen and (max-width:575px) {
  .ceninha{
    height: 52px;
    padding-left: 2px;
  }
}


// HOME COMPONENTE SCSS
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.headliner {
  margin-bottom: 0px;
  min-height: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.layout-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

[class*=layout-col] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}

.layout-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.layout {
  width: 100%;
  padding-right: 48px;
  padding-left: 48px;
}

@media (max-width: 1199px) {
  .layout {
      max-width: 991px;
  }
}

@media (max-width: 1399px) {
  .layout {
    max-width: 1100px;
  }
}

@media (max-width: 1399px) {
  div.headliner {
    margin-bottom: -30px;
  }
}

@media (max-width: 1399px) {
  div.headliner {
    margin: -10px 0 -40px;
  }
}

section.NavSection {
  background-color: #d10019;
  padding-bottom: 10px;
}

.tituloProjeto {
  color: white;
  font-family: 'Work Sans';
  font-size: 35px; 
  padding-top:27px;
  line-height:1.125;
  font-weight: 600;
}

@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-green, A100);
$app-accent:  mat-palette($mat-cyan, 800);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {

  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .header--standard {
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #d10019;
  }


 .mat-button:hover {
  background-color: rgba(0,64,107,0.89);
 }

}

@include mix-app-theme($app-theme);

// KEYWORD EXTRACTION COMPONENTE SCSS
body {
  background-color: #e8e3e3;
  zoom: 90%;
}

.azul {
  color: blue;
}

.mat-drawer-container {
  background-color: #e8e3e3;
  display:inline;
}

.fundo {
  background-color: #e8e3e3;
  padding-top: 20px;
  padding-bottom: 5%;
}

.my-col {
   background: linear-gradient(to bottom, rgba(0,64,107,0.5) 0%,rgba(0,64,107,0.89) 100%);
   height:70%;
   width: 100%;
   border-radius: 3px;
   margin: auto;
   margin-top:10px;
   padding-bottom:7px;
}

.my-col2 {
  background: linear-gradient(to bottom, rgba(0,64,107,0.5) 0%,rgba(0,64,107,0.89) 100%);
  height:70%;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  margin-top:10px;
  padding-bottom:10px;
}

.my-col3 {
  background: linear-gradient(to bottom, rgba(39, 127, 186, 0.5) 0%,rgba(81, 164, 219,0.89) 100%);
  height:70%;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  margin-top:10px;
  padding-bottom:10px;
  text-align: justify;
}

.my-col4 {
  height:70%;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  margin-top:10px;
  padding-bottom:10px;
  text-align: justify;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.my-row {
  height: 300px;
  width:900px;
  margin: auto;
}

h2 {
  color: white;
  padding-left:15px;
  padding-top:20px;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

.frase1, .frase2, .frase3 {
  color: #ffffff;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.frase1 {
  padding-top: 25px;
}

.result {
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
}

.score {
  margin-top: 30px;
}

app-frame {
  color: white;
}

.control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 9px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: 768px) {
  .control-label {
      padding-top: 9px;
      margin-bottom: 0;
      text-align: right;
  }
}

.keywordOnOff {
  padding-left: 13px;
  color: #ffffff;
  font-weight: 200;
}

.my-row2 {
  width: 90%;
  margin: auto;
  margin-top:-50px;
  overflow: hidden;
}

.divider {
  height: 0.01px;
  margin: 8px 0;
  overflow: hidden;
  background-color: #ffffff;

}
.afterAnnotated{
  color:black;
}

.black, .green, .blue, .yellow, .purple {
  color: white;
  width: 3%;
  padding: 2px;
  margin-right: 5px;
}

// TIMELINE-SCROLL page

.changeCaptio {
  padding-left: 0px !important;

}

.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
  font-family: 'Work Sans', sans-serif !important;
  text-transform: none !important;
  font-weight: 700;
  font-size: 46px;
  padding-left: 0px;
  line-height: 46px;
  padding-left: 0px !important;
}

.tl-text .tl-headline-date, .tl-text h3.tl-headline-date {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 15px;
  font-weight: normal;
  margin: 0 0 3px 0;
  color:  rgba(0,64,107,0.89) !important;
}

.tl-timeline p {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 20px;
  line-height: 1.3em;
}
.tl-timemarker-text,.tl-headline{
  margin-top: 0px;
  padding-top: 0px;
}

.tl-timeline p.textoArquivo {
  font-size: 13px !important;
}

// QUERYSINGLEDOC page

.tl-credit{
    overflow: hidden;
    white-space: nowrap;
}

// TUTORIAL page

.videoWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56.25%;
  padding-top: 0px;
  overflow-y: hidden;
}

.videoWrapper iframe {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 92%;
  width: 95%;
  overflow-y: hidden;
}

.legenda {
  font-family: 'Work Sans', sans-serif !important;
  text-align: right;
  margin-top: -40px;
}

.noScroll{
  overflow-y: hidden;
}

.cdk-overlay-pane{
  overflow-y: hidden !important;
}

@media (min-width: 768px) {
  .legenda {
    margin-top: -30px;  
  }

  .legenda b {
    padding-right: 0px;
  }
}

@media (max-width: 1225px){
  .mat-dialog-container {
    height:80% !important;
  }

  .Tutorial {
    padding-left: 38px !important;
  }

  .legenda b{
    font-size: 15px !important;
  }
}

@media (max-width: 965px){
  .mat-dialog-container {
    height:70% !important;
  }

  .Tutorial {
    padding-left: 33px !important;
  }
  .legenda b{
    font-size: 15px !important;
  }
  
}

@media (max-width: 769px){
  .mat-dialog-container {
    height:55% !important;
  }

  .Tutorial {
    padding-left: 25px !important;
  }

  .legenda b{
    font-size: 15px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 600px){
  .mat-dialog-container {
    height:45% !important;
  }

  .Tutorial {
    padding-left: 20px !important;
  }

  .legenda b{
    font-size: 13px !important;
  }
}

@media (max-width: 415px){
  .mat-dialog-container {
    height:38% !important;
  }

  .Tutorial {
    padding-left: 13px !important;
  }

  .legenda b{
    font-size: 13px !important;
  }
}

.legenda b{
  color: #ffffff;
  padding-right: 45px;  
}
a {
  outline: none;
}

.popup {
  height: 100%;
  width: 100%;
}
.changeCursor{
  cursor: pointer;
}

.Tutorial {
  padding-left: 55px;
  font-family: 'Work Sans', sans-serif !important;
}
.mat-dialog-container{
  background-color: #000000;
}
.hora {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 15px;
  font-weight: normal;
  margin: 0 0 3px 0;
  color:  rgba(0,64,107,0.89) !important;
}