/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-y: scroll; }

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

b.purple{
  background-color:#915e8b !important;

}
.black{
  background-color:orange !important;
}
b.blue{
  background-color:#386c7d !important;

}
b.green{
  background-color:#41692b !important;

}
b.red{
  background-color:#a33a14 !important;

}
b.yellow{
  background-color:#99b019 !important;

}
p.noticeme{
  color:black !important;
  font-size: 25px;
}
.viewable{
  display: block;
}
.nonviewable{
  display: none;
}
.score{
  width:65%;

}
a:link {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}

a:visited {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}

a:hover {
  text-decoration: none !important;
  color:white !important;
}

a:active {
  text-decoration: none;
  color:white !important;
  text-decoration-color:white !important;
}
.example-full-width{
  width: 100% !important;
}
.ceninha{
  height: 50px;
}

// HOME COMPONENTE SCSS
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.headliner {
  margin-bottom: 0px;
  min-height: 1px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.layout-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

[class*=layout-col] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}

.layout-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.layout {
  width: 100%;
  padding-right: 48px;
  padding-left: 48px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .layout {
      max-width: 991px;
  }
}

@media (max-width: 1399px) {
  .layout {
    max-width: 1100px;
  }
}

@media (max-width: 1399px) {
  div.headliner {
    margin-bottom: -30px;
  }
}

@media (max-width: 1399px) {
  div.headliner {
    margin: -10px 0 -40px;
  }
}

section.NavSection {
 /* background-color: #c75c42;*/
  background-color: #cc4625;
  padding-bottom: 10px;
}

.tituloProjeto {
  color: white;
  font-family: 'Work Sans';
  font-size: 35px;
  padding-left: 50px;
  padding-top:15px;
  line-height:1.125;
  font-weight: 600;
}

@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-green, A100);
$app-accent:  mat-palette($mat-cyan, 800);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {

  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .header--standard {
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 9;
   /* background-color: #c75c42;*/
   background-color: #cc4625;
  }


 .mat-button:hover {
  /*background-color: #374457;*/
  background-color: rgba(0,64,107,0.89);
 }

}

@include mix-app-theme($app-theme);

// KEYWORD EXTRACTION COMPONENTE SCSS
body {
  background-color: #d6d0d0;
}

.mat-drawer-container {
  background-color: #d6d0d0;
  display:inline;
}

.fundo {
  /*background-color: #463940;*/
  background-color: #d6d0d0;
  padding-top: 20px;
  padding-bottom: 5%;
}

.my-col {
  /*background-color: #374457;*/
   background: linear-gradient(to bottom, rgba(0,64,107,0.5) 0%,rgba(0,64,107,0.89) 100%);
   height:70%;
   width: 100%;
   border-radius: 3px;
   margin: auto;
   margin-top:10px;
   padding-bottom:7px;
}

.my-col2 {
  background: linear-gradient(to bottom, rgba(0,64,107,0.5) 0%,rgba(0,64,107,0.89) 100%);
  height:70%;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  margin-top:10px;
  padding-bottom:10px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.my-row {
  height: 300px;
  width:900px;
  margin: auto;
}

h2 {
  color: white;
  padding-left:15px;
  padding-top:20px;
  font-size: 32px;
}

.frase1, .frase2, .frase3 {
  color: #ffffff;
  padding-left: 15px;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}

.frase1 {
  padding-top: 25px;
}

.result {
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
}

.score {
  margin-top: 30px;
}

app-frame {
  color: white;
}

.control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 9px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: 768px) {
  .control-label {
      padding-top: 9px;
      margin-bottom: 0;
      text-align: right;
  }
}

.keywordOnOff {
  padding-left: 13px;
  color: #ffffff;
  font-weight: 200;
}

.my-row2 {
  width: 90%;
  margin: auto;
  margin-top:-50px;
  overflow: hidden;
}

.divider {
  height: 0.01px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #ffffff;

}
.afterAnnotated{
  color:black;
}

.preto, .verde, .azul, .amarelo, .roxo {
  color: white;
  width: 3%;
  padding: 2px;
  margin-right: 5px;
}

.preto {
  background-color: orange;
}

.verde {
  background-color: #41692b;
}

.azul {
  background-color: #386c7d;
}

.amarelo {
  background-color: #99b019;
}

.roxo {
  background-color: #915e8b;
}

