<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer class="sidenav"
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="navSideTitle">Time-Matters Demo</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="mat-list-item" (click)='changePage("1")' href="/">Home <span class="material-icons">home</span></a>
      <a mat-list-item class="mat-list-item" [matMenuTriggerFor]="menu1">Tag Dates <mat-icon>keyboard_arrow_down</mat-icon></a>
      <a mat-list-item class="mat-list-item" href="http://time-matters.inesctec.pt/api" target="_blank">API <span class="material-icons">computer</span></a>
      <a mat-list-item class="mat-list-item" href="https://github.com/liaad/time-matters" target="_blank">GitHub <i class="fab fa-github material-icons" aria-hidden="true"></i></a>
      <!--<a mat-list-item class="mat-list-item" href="#">Mobile App <span class="material-icons">mobile_screen_share</span></a>-->
      <a mat-list-item class="mat-list-item" [matMenuTriggerFor]="menu3">Related Projects <mat-icon>keyboard_arrow_down</mat-icon></a>
      <a mat-list-item class="mat-list-item" [matMenuTriggerFor]="menu2">About <mat-icon>keyboard_arrow_down</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <header class="header--standard">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        
          <img class="ceninha" src="assets\logo.png" />
        <div class="spacer"></div><div [ngClass]="{hidden: (isHandset$ | async) === true}">
        <a href="/" (click)='changePage("1")'><button mat-button   ><i class="fas fa-home"></i> Home</button></a>
        <a><button mat-button [matMenuTriggerFor]="menu1" ngbDropdownToggle><i class="fas fa-chevron-down"></i> Tag Dates</button></a>
        <a  target="_blank" href="http://time-matters.inesctec.pt/api"><button mat-button ><i class="fas fa-laptop-code"></i> API</button></a>
        <a target="_blank" href="https://github.com/liaad/time-matters"><button mat-button><i class="fab fa-github" aria-hidden="true"></i> GitHub</button></a>
        <!--<a><button mat-button ><i class="fas fa-mobile-alt"></i> Mobile App</button></a>-->
        <a><button mat-button [matMenuTriggerFor]="menu3" ngbDropdownToggle><i class="fas fa-chevron-down"></i> Related Projects</button></a>
        <a><button mat-button [matMenuTriggerFor]="menu2" ngbDropdownToggle><i class="fas fa-chevron-down"></i> About</button></a>
      </div>
          </mat-toolbar>
    </header>

    <mat-menu #menu1="matMenu">
      <button mat-menu-item   (click)='changePage("1")'>Free Text Input <i class="fas fa-square"></i> </button>
      <div class="divider"></div>
      <button mat-menu-item  (click)='changePage("2")'>Page URL <i class="fas fa-globe"></i> </button>
      <!--<div class="divider"></div>-->
      <!--<button mat-menu-item  (click)='changePage("6")'>Search Arquivo.pt <i class="fas fa-search"></i> </button>-->
    </mat-menu>

    <mat-menu #menu2="matMenu" ngbDropdownMenu>
      <button mat-menu-item class="mat-menu-item" (click)='changePage("4")' ngbDropdownItem>People <i class="fas fa-user-circle"></i></button>
      <div class="divider"></div>
      <button mat-menu-item class="mat-menu-item" (click)='changePage("5")' ngbDropdownItem>Related Work <i class="fas fa-book-open"></i></button>
      <div class="divider"></div>
      <button mat-menu-item class="mat-menu-item" (click)='changePage("7")' ngbDropdownItem>Acknowledgements <i class="fa fa-book" aria-hidden="true"></i></button>
    </mat-menu>

    <mat-menu #menu3="matMenu">
      <a target="_blank" href="https://hub.docker.com/r/liaad/time-matters"><button mat-menu-item class="mat-menu-item">Dockerized Time-Matters <i class="fab fa-docker"></i> </button></a>
      <div class="divider"></div>
      <a target="_blank" href="https://hub.docker.com/r/liaad/py_heideltime"><button mat-menu-item class="mat-menu-item">Dockerized py_heideltime  <i class="fab fa-docker"></i> </button></a>
      <div class="divider"></div>
      <a target="_blank" href="https://hub.docker.com/r/liaad/yake-server"><button mat-menu-item class="mat-menu-item">Dockerized YAKE!  <i class="fab fa-docker"></i> </button></a>
      <div class="divider"></div>
      <a target="_blank" href="http://yake.inesctec.pt/"><button mat-menu-item class="mat-menu-item">YAKE! Demo  <i class="fab fa-docker"></i> </button></a>

    </mat-menu>

    <section class="NavSection">
      <div class="layout">
        <div class="layout-row">
          <div class="layout-col">
            <div class="headliner">
              <br>
              <h1 class="miniText">
                Temporal annotation of texts
              </h1>
              <!--<h1 class="miniText2">
                To learn more, visit our <a target="_blank" href="https://github.com/liaad/time-matters"><b>Github web page.</b></a>
              </h1>-->
              <h1 class="miniText2">
                To see how it works, check out this <span (click)="openDialog()" class="changeCursor" ><b><u>video tutorial</u></b></span>
              </h1>
              <br>
            </div>
          </div>
        </div>
      </div>
    </section>


    <div *ngIf='page=="0" else pagina1'>
      <app-keyword-exctraction></app-keyword-exctraction>
      
    </div>
    <ng-template #pagina1>
      <div *ngIf='page=="1" else pagina2'>
        <app-keyword-exctraction></app-keyword-exctraction>
        <div *ngIf="false"> 
          <br/>
          <div class="col-md-11 col-sm-8 col-xs-6 my-col2">
            <span title=""><p class="frase1"></p></span>
            <div class="videoWrapper">
              <iframe src="https://www.youtube.com/embed/Q6Rz_TEvcgM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
            <br>
            <div class="legenda">
              <a href="https://www.bensound.com" target="_blank">Royalty Free Music from Bensound</a> 
            </div>

            
            
          </div>
        </div>
        
      </div>
      <ng-template #pagina2>
        <div *ngIf='page=="2" else pagina3'>
          <app-querysingledoc></app-querysingledoc>
        </div>
        <ng-template #pagina3>
          <div *ngIf='page=="3" else pagina4'>
            <app-query></app-query>
          </div>
          <ng-template #pagina4>
            <div *ngIf='page=="4" else pagina5'>
             <app-about-people></app-about-people>
            </div>
            <ng-template #pagina5>
              <div *ngIf='page=="5" else pagina6'>
                <app-about-related-work></app-about-related-work>
              </div>
              <ng-template #pagina6>
                <div *ngIf='page=="7" else pagina7'>
                  <app-about-acknowledgements></app-about-acknowledgements>
                </div>

                <ng-template #pagina7>
                  <div *ngIf='page=="6"'>
                    <!--<app-arquivo></app-arquivo>-->
                  </div>
                </ng-template>

              </ng-template>

            </ng-template>

          </ng-template>
        </ng-template>
      </ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>





