<header class="header--standard">
  <mat-toolbar ngbDropdown>
    <p class="tituloProjeto"><!--i class="fas fa-clock"></>-->
      <img class="ceninha" src="..\assets\TimeMatters.png" /> TimeMatters Demo </p>
    <div class="spacer"></div>
    <button mat-button  (click)='changePage("0")' ><i class="fas fa-home"></i> Home</button>
    <button mat-button [matMenuTriggerFor]="menu1" ngbDropdownToggle ><mat-icon>keyboard_arrow_down</mat-icon>Score Extractor</button>
    <a  target="_blank" href="https://tm-websuiteapps.ipt.pt/timematters/apidocs/"><button mat-button ><i class="fas fa-laptop-code"></i> API</button></a>
    <button mat-button ><i class="fas fa-mobile-alt"></i> Mobile App</button>
    <button mat-button [matMenuTriggerFor]="menu2" ngbDropdownToggle><mat-icon>keyboard_arrow_down</mat-icon>About </button>
  </mat-toolbar>
</header>

<mat-menu #menu1="matMenu">
  <button mat-menu-item   (click)='changePage("1")'>Single Text <i class="fas fa-square"></i> </button>

  <button mat-menu-item  (click)='changePage("2")'>Multi Doc <i class="fas fa-clone"></i> </button>

  <button mat-menu-item (click)='changePage("3")' >Query <i class="fas fa-search"></i></button>
</mat-menu>

<mat-menu #menu2="matMenu" ngbDropdownMenu>
  <button mat-menu-item class="mat-menu-item" (click)='changePage("4")' ngbDropdownItem>People <i class="fas fa-user-circle"></i></button>

  <a target="_blank" href="https://github.com/liaad/time-matters"><button mat-menu-item class="mat-menu-item" ngbDropdownItem>GitHub <i class="fab fa-github" aria-hidden="true"></i></button></a>

  <button mat-menu-item class="mat-menu-item" (click)='changePage("5")' ngbDropdownItem>Related Work <i class="fas fa-book-open"></i></button>
</mat-menu>

<section class="NavSection">
  <div class="layout">
    <div class="layout-row">
      <div class="layout-col">
        <div class="headliner">
          <br>
          <h1 class="miniText">
            App to extract dates from documents
          </h1>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>


  <div *ngIf='page=="0" else pagina1'>
     <app-landing-page></app-landing-page>
  </div>
  <ng-template #pagina1>
    <div *ngIf='page=="1" else pagina2'>
      <app-keyword-exctraction></app-keyword-exctraction>
    </div>
    <ng-template #pagina2>
      <div *ngIf='page=="2" else pagina3'>
        <app-multi-doc></app-multi-doc>
      </div>
      <ng-template #pagina3>
        <div *ngIf='page=="3" else pagina4'>
          <app-query></app-query>
        </div>
        <ng-template #pagina4>
          <div *ngIf='page=="4" else pagina5'>
           <app-about-people></app-about-people>
          </div>
          <ng-template #pagina5>
            <div *ngIf='page=="5"'>
              <app-about-related-work></app-about-related-work>
            </div>

          </ng-template>

        </ng-template>
      </ng-template>
    </ng-template>
  </ng-template>
