.miniText {
  font-size: 27px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
  padding-top: 20px;
  color: #ffffff;
  background-color: #c75c42;
  padding-left: 20px;
}

@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-green, A100);
$app-accent:  mat-palette($mat-cyan, 800);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {

  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-menu-item {
    margin:-8px auto; 
    color: white;
    text-align: center;
    background-color: #c75c42;
    font-family: 'Work Sans', sans-serif;
  }

  .mat-menu-item:hover {
   background-color: #374457;
  }

  button:focus {
    outline: 0px;
  }

  .mat-button {
     color: white;
     margin-left: 60px;
     font-family: 'Work Sans';
     position: sticky;
   }

   .mat-toolbar {
    background-color: #c75c42;
    font-family: 'Work Sans', sans-serif;
  }
}

@include mix-app-theme($app-theme);