nav {
  background-color: #cc4625;
  position: sticky;
}

.navbar-brand, .navbar-brand:hover {
  color: white;
  font-family: 'Work Sans';
  font-size: 35px;
  padding-left: 50px;
  padding-top: 10px;
  line-height:1.125;
  font-weight: 600;
}

.miniText {
  font-size: 27px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
  color: #ffffff;
  /*background-color: #c75c42;*/
  background-color: #cc4625;
  padding-left: 20px;
}

.miniText2 {
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
  color: #ffffff;
  /*background-color: #c75c42;*/
  background-color: #cc4625;
  padding-left: 20px;
}

@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-green, A100);
$app-accent:  mat-palette($mat-cyan, 800);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {

  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  * {
    font-family: 'Work Sans', sans-serif;
  }

  .nav-item{
    /*margin:-8px auto; */
    color: white;
    text-align: center;
    background-color: #cc4625;
    font-size:15px;
    padding-left: 50px;
  }

  .dropdown-item {
    color: white;
    text-align: center;
    background-color: #cc4625;
  }

  .nav-link:hover, .dropdown-item:hover {
   background-color: rgba(0,64,107,0.89);
   border-radius: 4px;
  }

  button:focus {
    outline: 0px;
  }
}

@include mix-app-theme($app-theme);