
  .hidden {
    display: none;
  }
  @font-face {
    font-family: "Nexa Bold";
    src: url(../../assets/nexa-bold.otf);
    font-weight: bold;
  }
.miniText {
  font-size: 35px;
  font-family: "Nexa Bold", cursive ;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #033F72;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.miniText2 {
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #033F72;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:575px) {
  .miniText{
    font-size: 23px;
  }

  .miniText2 {
    font-size: 14px;
  }
}

@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-green, A100);
$app-accent:  mat-palette($mat-cyan, 800);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {

  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-menu-item {
    margin:-8px auto;
    color: white;
    text-align: center;
    background-color: #033F72;
    font-family: 'Work Sans', sans-serif;
  }

  .navSideTitle {
    font-size: 18px;
    color: #ffffff;
  }

  .mat-menu-item:hover, .mat-list-item:hover {
   background-color: rgba(0,64,107,0.89);
  }

  button:focus {
    outline: 0px;
  }

  .mat-button {
     color: white;
     font-family: 'Work Sans';
     position: sticky;
   }

  .mat-toolbar {
    background-color: #033F72;
   /* background-color: #cc4625; */
    font-family: 'Work Sans', sans-serif;
  }

  .mat-list-item {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    padding-left: 20px;
    text-align: left;
  }

  .material-icons {
    padding-left: 5px;
  }

  mat-sidenav {
   background-color: #033F72;
  }


}

@include mix-app-theme($app-theme);
.btn-primary {
  background-color: #033F72;
 /* background-color: #cc4625; */
  border-color: transparent;
  font-family: 'Work Sans', sans-serif;
}s


.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #031d72;
/*  background-color: #993d26; */
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(168, 5, 25,.5);
}
